#Requirements

pandas # data handling
python-dotenv # loads .env for API key
streamlit # for app interface

## API client
openaq # air quality data
openmeteo-requests #weather data

## reliability/networking
requests-cache  # caching API calls (for rate limit of air quality api)
retry-requests  # auto-retry failed request

## Machine Learning
scikit-learn # ml library (training, data splitting, evaluation)